/* Mobile */
@media (min-width: 350px) {
  h3 {
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 50px;
  }

  h4 {
    background-color: #212121;
    text-transform: uppercase;
    color: white;
    padding: 15px;
  }

  p {
    padding-top: 20px;
    padding-left: 10px;
  }

  .product {
    margin-left: 50px;
  }

  .name-price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -26px;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product img {
    width: 250px;
    height: 203px;
  }
}

/* Tablet */
@media (min-width: 800px) {
  h3 {
    margin-top: 50px;
    margin-left: 30px;
  }

  h4 {
    background-color: #212121;
    text-transform: uppercase;
    color: white;
    padding: 15px;
  }

  p {
    padding-top: 20px;
    padding-left: 10px;
  }

  .product {
    margin-left: 50px;
  }

  .name-price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -26px;
  }

  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product img {
    width: 320px;
    height: 213px;
  }
}

/* Desktop */
@media (min-width: 1080px) {
  main {
    margin: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h4 {
    background-color: #212121;
    text-transform: uppercase;
    color: white;
    padding: 15px;
  }

  p {
    padding-top: 20px;
    padding-left: 10px;
  }

  .name-price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -26px;
  }

  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 70px;
  }

  .product {
    margin: 20px;
  }

  .product img {
    width: 388px;
    height: 258px;
  }
}
