body {
  margin: 0px;
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #212121;
}

img {
  width: 100%;
  object-fit: cover;
}

.logo {
  width: 70px;
}

nav {
  background-color: white;
}

ul {
  display: flex;
  justify-content: right;
  margin-top: -50px;
  list-style-type: none;
}

ul li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #212121;
}

a.active {
  color: red;
}

.add-btn,
.login-btn,
.to-login-page {
  color: white;
  background-color: #212121;
  padding: 7px 20px;
  max-width: 100px;
  border-style: none;
}

.add-btn:hover,
.added-btn:hover,
.login-btn:hover,
.to-login-page:hover {
  cursor: pointer;
  color: #212121;
  background-color: white;
  border: 1px solid #212121;
}

.name-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -26px;
}

.message {
  background-color: red;
  padding: 20px;
}
